/* 404 Not Found Page Styles */

.middleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleArea {
  position: sticky;
  top: 140px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.buttonRow {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

@media (max-width: 1199px) {
  .titleArea {
    position: relative;
    top: 0;
  }
}
