.row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.content {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-end;
}

.titleCol {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex: 1;
}
