.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 16px;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

@media (max-width: 809px) {
  .card {
    gap: 16px;
  }
}
